<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1><a href="{% url 'todo_list' %}"><i class="fas fa-home"></i></a> Todo list</h1>

<div class="todos">
{%  for todos in  todo_objects %}

    <div class="todo">
        <span class="check-box">
            <a href="{% url 'todo_check' pk=todos.pk %}">
            {% if todos.done %}
                <i class="far fa-check-square"></i>
            {% else %}
                <i class="far fa-square"></i>
            {%  endif %}
            </a>
        </span>
        <a href="{% url 'todo_detail' pk=todos.pk %}" >{{ todos.title }}</a>
        {% if todos.dueDate < now %}
            <span class="duedate-over">Time over</span>
        {% endif %}
            <span class="importance">
            <a href="{% url 'todo_importance' pk=todos.pk %}">
            {% if todos.importance %}
                <i class="fas fa-star"></i>
            {% else %}
                <i class="far fa-star"></i>
            {%  endif %}
            </a>
        </span>

    <span>
        <a href="{% url 'todo_delete' pk=todos.pk %}">delete</a>
    </span>
    </div>

{% endfor %}

</div>

<div class="write-botton"><a href="{% url 'todo_write' %}">+</a></div>

</body>
</html>